<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="source.beans"/>

    <!-- ************************************************************************************** -->
    <bean id="Meat" class="source.beans.Products" factory-method="getProducts"  scope="prototype">
        <constructor-arg name="type" value="Meat"/>
        <constructor-arg name="weight" value="1"/>
        <constructor-arg name="price" value="200"/>
    </bean>
    <bean id="Bread" class="source.beans.Products" factory-method="getProducts"  scope="prototype">
        <constructor-arg name="type" value="Bread"/>
        <constructor-arg name="weight" value="1"/>
        <constructor-arg name="price" value="60"/>
    </bean>
    <bean id="Tomatoes" class="source.beans.Products" factory-method="getProducts"  scope="prototype">
        <constructor-arg name="type" value="Tomatoes"/>
        <constructor-arg name="weight" value="1"/>
        <constructor-arg name="price" value="150"/>
    </bean>
    <bean id="Butter" class="source.beans.Products" factory-method="getProducts"  scope="prototype">
        <constructor-arg name="type" value="Butter"/>
        <constructor-arg name="weight" value="1"/>
        <constructor-arg name="price" value="400"/>
    </bean>
</beans>